# Version control
.git
.gitignore
.gitattributes

# Dependencies
/node_modules
/vendor

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Testing
/phpunit.xml
/tests

# Logs
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Allow Docker configuration files
!/docker/nginx.conf
!/docker/supervisord.conf
!/docker/entrypoint.sh
